<h2 style="background-color:#ffffff;padding:20px;color:#000000;font-size: 20px;" dir=rtl>الف) 
مدل رگرسیونی را برای سه متغیر کمی برقرار کنید و سپس داده های جدید را که در آنها نویز ندارد تولید کنید.
<h2>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_csv("Stars.csv")
data

     Temperature              L          R    A_M  Color Spectral_Class  Type
0           3068       0.002400     0.1700  16.12    Red              M     0
1           3042       0.000500     0.1542  16.60    Red              M     0
2           2600       0.000300     0.1020  18.70    Red              M     0
3           2800       0.000200     0.1600  16.65    Red              M     0
4           1939       0.000138     0.1030  20.06    Red              M     0
..           ...            ...        ...    ...    ...            ...   ...
235        38940  374830.000000  1356.0000  -9.93   Blue              O     5
236        30839  834042.000000  1194.0000 -10.63   Blue              O     5
237         8829  537493.000000  1423.0000 -10.73  White              A     5
238         9235  404940.000000  1112.0000 -11.23  White              A     5
239        37882  294903.000000  1783.0000  -7.80   Blue              O     5

[240 rows x 7 columns]

In [3]:
Temperature=data['Temperature']
iqr=Temperature.quantile(0.75)-Temperature.quantile(0.25)
d=1.5*iqr
d1=Temperature.quantile(0.25)-d
d2=Temperature.quantile(0.75)+d
print(f"( {d1} , {d2} )")

( -14222.625 , 32622.375 )

In [4]:
print(max(Temperature))

40000

In [26]:
dataNoise =data.loc[(data['Temperature']>d2) |(data['Temperature']<d1)].copy()
AnotherData=data.loc[data['Temperature']<=d2].copy()
dataNoise

,Temperature,L,R,A_M,Color,Spectral_Class,Type,TemperatureNoise
30,39000,204000.0,10.60,-4.70,Blue,O,3,8276.162838
49,33750,220000.0,26.00,-6.10,Blue,B,4,8563.358649
99,36108,198000.0,10.20,-4.40,Blue,O,3,8153.522504
100,33300,240000.0,12.00,-6.50,Blue,B,4,9014.784733
101,40000,813000.0,14.00,-6.23,Blue,O,4,20827.568656
109,33421,352000.0,67.00,-5.79,Blue,O,4,11171.933569
159,37800,202900.0,6.86,-4.56,Blue,O,3,8263.871704
214,34190,198200.0,6.39,-4.57,Blue,O,3,8168.238958
231,38234,272830.0,1356.00,-9.29,Blue,O,5,5955.744768
235,38940,374830.0,1356.00,-9.93,Blue,O,5,8059.533699
239,37882,294903.0,1783.00,-7.80,Blue,O,5,5223.996079

In [27]:
ss = StandardScaler()
X=AnotherData[['L','R']]
X=ss.fit_transform(X)
LinReg=LinearRegression()
reg=LinReg.fit(X,AnotherData['Temperature'])

In [9]:
p=dataNoise[['L','R']]
x_pred=ss.fit_transform(p)
predictNoise=reg.predict(x_pred)
predictNoise

array([ 8276.1628379 ,  8563.35864922,  8153.52250356,  9014.78473325,
       20827.56865593, 11171.93356858,  8263.87170411,  8168.2389582 ,
        5955.74476833,  8059.53369946,  5223.99607868])

In [10]:
data['TemperatureNoise']=data['Temperature'].copy()
data['TemperatureNoise'].loc[data['Temperature']>d2]=predictNoise
data[['TemperatureNoise','Temperature']].loc[data['Temperature']>d2]

C:\Users\Mosp\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

     TemperatureNoise  Temperature
30        8276.162838        39000
49        8563.358649        33750
99        8153.522504        36108
100       9014.784733        33300
101      20827.568656        40000
109      11171.933569        33421
159       8263.871704        37800
214       8168.238958        34190
231       5955.744768        38234
235       8059.533699        38940
239       5223.996079        37882

In [ ]:
selectrandom=np.random.randint(0,240,size=10)
selectrandom

In [ ]:
newTemp=data['Temperature'].copy()
newTemp[list(selectrandom)]=np.nan
data['newTemp']=newTemp
data

In [ ]:
data2=data.loc[data['newTemp']==data['Temperature']]

In [ ]:
data2

In [ ]:
LR=data2[['L','R']]
np.array([np.array(LR['L']),np.array(LR['R'])])
arr=np.array([[x,y]for x,y in zip(np.array(LR['L']),np.array(LR['R']))])
arr

In [ ]:
reg=LinearRegression().fit(arr,data2['newTemp'])

In [ ]:
data4=data.loc[data['newTemp']!=data['Temperature']]
data4

In [ ]:
reg.predict([np.array([174000.00000,1284.0000])])

In [ ]:
data4LR=data4[['L','R']]
arr4=np.array([[x,y]for x,y in zip(np.array(data4LR['L']),np.array(data4LR['R']))])
data4['newTemp']=reg.predict(arr4)

In [ ]:
data4

In [ ]:
data['newTemp'].loc[data['Temperature']!=data['newTemp']]=data4['newTemp']

In [ ]:
data[['Temperature','newTemp']].loc[data['Temperature']!=data['newTemp']]

<h2 style="background-color:#ffffff;padding:20px;color:#000000;font-size: 20px;" dir=rtl>
ب) تست کی دو را برای متغیرهای اسمی انجام دهید و آنها را تفسیر کنید.

<h2>

In [11]:
data

,Temperature,L,R,A_M,Color,Spectral_Class,Type,TemperatureNoise
0,3068,0.002400,0.1700,16.12,Red,M,0,3068.000000
1,3042,0.000500,0.1542,16.60,Red,M,0,3042.000000
2,2600,0.000300,0.1020,18.70,Red,M,0,2600.000000
3,2800,0.000200,0.1600,16.65,Red,M,0,2800.000000
4,1939,0.000138,0.1030,20.06,Red,M,0,1939.000000
...,...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,Blue,O,5,8059.533699
236,30839,834042.000000,1194.0000,-10.63,Blue,O,5,30839.000000
237,8829,537493.000000,1423.0000,-10.73,White,A,5,8829.000000
238,9235,404940.000000,1112.0000,-11.23,White,A,5,9235.000000
239,37882,294903.000000,1783.0000,-7.80,Blue,O,5,5223.996079

In [12]:
from scipy.stats import chi2_contingency
from sklearn.preprocessing import LabelEncoder

In [14]:
color=data['Color']
lbl = LabelEncoder()
color=lbl.fit_transform(color)

Spectral_Class=data['Spectral_Class']
Spectral_Class=lbl.fit_transform(Spectral_Class)
Spectral_Class

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 0,
       2, 0, 1, 2, 0, 2, 2, 2, 6, 1, 1, 1, 2, 0, 2, 2, 2, 2, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 2, 0, 1, 1, 0, 1, 1,
       2, 1, 2, 4, 4, 4, 0, 0, 4, 2, 0, 6, 1, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 5, 5, 5, 5, 4, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 0, 1, 2, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 4, 1, 5, 5,
       6, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 6, 6, 0, 1, 1, 2,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 1, 6, 6, 1, 1, 6, 6, 0, 0, 6])

In [16]:
df=(len(np.unique(Spectral_Class))-1)*(len(np.unique(color))-1)
print(len(np.unique(color)),len(np.unique(Spectral_Class)))
df

17 7

96

In [17]:
6*16

96

In [28]:
x_squared, p, dof, expected = chi2_contingency([Spectral_Class,color])
x_squared

568.4638691525676

In [19]:
from scipy.stats import chi2
prob=0.95
critical = chi2.ppf(prob, df)
critical

119.87093929856714

In [29]:
p>0.5

False